<template>
    <div class="container com-class">
        <h2>Profile Works!</h2>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.com-class{
    margin-top: 200px;
}
</style>